@import url("staff-global.css");

.normalisbd {
	font-size: 120%;
	padding: 1em 0 2em 0;
}

.noreserve {
	float: right;
}

.inv_nr a:link {
	color: #7A7A7A;
}

.emph {
	color: red;
}

.isbd1 {
	font-size: 120%;
}

.results_summary {
	color: black;
	font-size: 100%;
	font-weight: normal;
	padding: 0.5em 0 0;
}

.results_summary.edition, .results_summary.title, .results_summary.series, .results_summary.publisher, .results_summary.description, .results_summary.type, .results_summary.isn {
	display: inline;
}

.results_summary.type {
	display: block;
}

.results_summary.author {
}
