@import url("staff-global.css");

.normalisbd {
	font-size: 120%;
	padding: 1em 0 2em 0;
}

.noreserve {
	float: right;
}

.title {
	font-size: 100%;
	font-weight: normal;
}

#header {
}


.inv_nr a:link {
	color: #7A7A7A;
}

.emph {
	color: red;
}

.isbd1 {
	font-size: 120%;
}
