<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Koha &rsaquo; Administration &rsaquo; Transport Cost Matrix</title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->

<script type="text/javascript">
//<![CDATA[
function check_transport_cost(e) {
    var val = e.value;
    if (val && !isNaN(val) && val >= 0.0 && val <= 1.0) {
        return;
    }
    alert("Cost must be expressed as a decimal number in 0 to 1 range");
}
function disable_transport_cost_chg(e, cost_id) {
    disable_transport_cost(cost_id, e.checked);
}
function disable_transport_cost(cost_id, disable) {
    if (disable) {
        $('#celldiv_'+cost_id).find('input[type=text]').attr("disabled","disabled").addClass('disabled-transfer');
    } else {
        $('#celldiv_'+cost_id).find('input:disabled').removeAttr("disabled").removeClass('disabled-transfer');
    }
}
function enable_cost_input(cost_id) {
    var cell = $('#celldiv_'+cost_id);
    var cost = $(cell).text();
    var disabled = $(cell).hasClass('disabled-transfer');
    $(cell).removeClass('disabled-transfer');

    $('#celldiv_'+cost_id).html(
        '<input name="cost_'+cost_id+'" onchange="check_transport_cost(this);" size="4" value="'+$.trim(cost)+'" />'+
        '<br/>No xfr <input name="disable_'+cost_id+'" value="1" onchange="disable_transport_cost_chg(this, \''+cost_id+'\');" type="checkbox" '+(disabled ? 'checked' : '')+' />'
    );
    disable_transport_cost(cost_id, disabled);
}
function use_transport_cost_matrix_chg (e) {
    show_transport_cost_matrix(e.checked);
}
function show_transport_cost_matrix(show) {
    if (show) {
        $('#transport-cost-matrix').show();
    } else {
        $('#transport-cost-matrix').hide();
    }
}
function form_submit (f) {
    $(f).find('input:disabled').removeAttr("disabled");
    // XXX check 0 - 1
    return true;
}

$(document).ready(function() {
    show_transport_cost_matrix(<!-- TMPL_IF NAME="UseTransportCostMatrix" -->true<!-- TMPL_ELSE -->false<!-- /TMPL_IF -->);
});
//]]>
</script>
<style type="text/css">
.disabled-transfer {
    background-color: red;
}
</style>

</head>
<body>
<!-- TMPL_INCLUDE NAME="header.inc" -->
<!-- TMPL_INCLUDE NAME="cat-search.inc" -->

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Home</a> &rsaquo; <a href="/cgi-bin/koha/admin/admin-home.pl">Administration</a> &rsaquo; Transport Cost Matrix</div>

<div id="doc3" class="yui-t1">

<div id="bd">
    <div id="yui-main">
    <div class="yui-b">
    <h1 class="parameters">
            Defining transport costs between libraries
    </h1>
    <div class="container">
        <form method="post" action="?" onSubmit="return form_submit(this);">
            <input type="hidden" name="op" value="set-cost-matrix" />
            <p> Use Transport Cost Matrix <input type="checkbox" name="UseTransportCostMatrix" value="1" <!-- TMPL_IF NAME="UseTransportCostMatrix" -->checked<!-- /TMPL_IF --> onChange="use_transport_cost_matrix_chg(this);" />
            <div id="transport-cost-matrix">
                <div class="help">
                    <p>Costs are normalised decimal values 0 to 1, 0 being minimum (no) cost, 1 maximum.</p>
                    <p>Red cells signify no transfer allowed</p>
                    <p>Click on the cell to edit</p>
                </div>
                <table>
                    <tr>
                        <th>From \ To</th>
                <!-- TMPL_LOOP NAME="branchloop" -->
                        <th><!-- TMPL_VAR NAME="name" --></th>
                <!-- /TMPL_LOOP -->
                    <tr>
                <!-- TMPL_LOOP NAME="branchfromloop" -->
                    <tr>
                        <th><!-- TMPL_VAR NAME="name" --></th>
                    <!-- TMPL_LOOP NAME="branchtoloop" -->
                        <td>
                        <!-- TMPL_IF NAME="skip"  -->
                            &nbsp;
                        <!-- TMPL_ELSE -->
                            <div id="celldiv_<!-- TMPL_VAR NAME="id" -->"<!-- TMPL_IF NAME="disabled"  -->class="disabled-transfer"<!-- /TMPL_IF -->>
                            <div onclick="enable_cost_input('<!-- TMPL_VAR NAME="id" -->');"><!-- TMPL_VAR NAME="value" --></div>
                            <input type="hidden" name="cost_<!-- TMPL_VAR NAME="id" -->" value="<!-- TMPL_VAR NAME="value" -->" />
                            <!-- TMPL_IF NAME="disabled"  -->
                            <input type="hidden" name="disable_<!-- TMPL_VAR NAME="id" -->" value="1" />
                            <!-- /TMPL_IF -->
                            </div>
                        <!-- /TMPL_IF -->
                        </td>
                    <!-- /TMPL_LOOP -->
                    </tr>
                <!-- /TMPL_LOOP -->
                </table>
            </div>
            <input type="submit" value="Save" class="submit" />
        </form>
    </div>
    </div>
    </div>
<div class="yui-b">
<!-- TMPL_INCLUDE NAME="admin-menu.inc" -->
</div>
</div>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
